<template>
<v-app>
  <v-app-bar app color="primary" dark>
    <div class="d-flex align-center">
      Proyecto final
    </div>

  </v-app-bar>

  <v-main>
    <Predictor />
  </v-main>
</v-app>
</template>

<script>
import Predictor from './components/Predictor';

export default
{
  name: 'App',

  components:
  {
    Predictor,
  },

  data: () => (
  {
    //
  }),
};
</script>
