

<template>
<v-container fluid>
  <h2>Obtener pronostico si es mejor o no poner un Starbucks</h2>
  <v-form>
    <v-row class="text-center">

      <v-col cols="12" sm="6" md="4" lg="4">
        <v-text-field type="number" label="Hombres viviendo solos" :rules="[rules.required, rules.min]" v-model="payload.maleLivingAlone" />
      </v-col>

      <v-col cols="12" sm="6" md="4" lg="4">
        <v-text-field type="number" label="Mujeres viviendo solas" :rules="[rules.required, rules.min]" v-model="payload.femaleLivingAlone" />
      </v-col>

      <v-col cols="12" sm="6" md="4" lg="4">
        <v-text-field type="number" label="Número de familias" :rules="[rules.required, rules.min]" v-model="payload.numberOfFamilies" />
      </v-col>

      <v-col cols="12" sm="6" md="4" lg="4">
        <v-text-field type="number" label="Población hispana o latina" :rules="[rules.required, rules.min]" v-model="payload.hispanicLatinoPopulation" />
      </v-col>

      <v-col cols="12" sm="6" md="4" lg="4">
        <v-text-field type="number" label="Población asiatica" :rules="[rules.required, rules.min]" v-model="payload.asianPopulation" />
      </v-col>

      <v-col cols="12" sm="6" md="4" lg="4">
        <v-text-field type="number" label="Número de población de mas de dos razas" :rules="[rules.required, rules.min]" v-model="payload.twoOrMoreRacesPopulation" />
      </v-col>

      <v-col cols="12" sm="6" md="4" lg="4">
        <v-text-field type="number" label="Población de una raza" :rules="[rules.required, rules.min]" v-model="payload.oneRacePopulation" />
      </v-col>

      <v-col cols="12" sm="6" md="4" lg="4">
        <v-text-field type="number" label="Número de cabezas de familia" :rules="[rules.required, rules.min]" v-model="payload.totalHouseHolders" />
      </v-col>

      <v-col cols="12" sm="6" md="4" lg="4">
        <v-text-field type="number" label="Número de familias de 2 personas" :rules="[rules.required, rules.min]" v-model="payload.twoPersonFamilies" />
      </v-col>

      <v-col cols="12" sm="6" md="4" lg="4">
        <v-text-field type="number" label="Familias con solo un contribuyente económico" :rules="[rules.required, rules.min]" v-model="payload.oneEarnerFamilies" />
      </v-col>

      <v-col cols="12" sm="6" md="4" lg="4">
        <v-text-field type="number" label="Población de 24 a 34" :rules="[rules.required, rules.min]" v-model="payload.population24_34" />
      </v-col>

      <v-col cols="12" sm="6" md="4" lg="4">
        <v-text-field type="number" label="Población de 34 a 44" :rules="[rules.required, rules.min]" v-model="payload.population35_44" />
      </v-col>

      <v-col cols="12" sm="6" md="4" lg="4">
        <v-text-field type="number" label="Cabezas de familia de 25 a 44 años" :rules="[rules.required, rules.min]" v-model="payload.houseHolders25_44" />
      </v-col>

      <v-col cols="12" sm="6" md="4" lg="4">
        <v-text-field type="number" label="Cabezas de familia de 15 a 24 años" :rules="[rules.required, rules.min]" v-model="payload.houseHolders15_24" />
      </v-col>

      <v-col cols="12" sm="6" md="4" lg="4">
        <v-text-field type="number" label="Unidades de viviendas" :rules="[rules.required, rules.min]" v-model="payload.totalHousingUnits" />
      </v-col>

      <v-col cols="12" sm="6" md="4" lg="4">
        <v-text-field type="number" label="Número de estaciones" :rules="[rules.required, rules.min]" v-model="payload.numberOfStations" />
      </v-col>

      <v-col cols="12" sm="6" md="4" lg="4">
        <v-text-field type="number" label="Número de escuelas" :rules="[rules.required, rules.min]" v-model="payload.numberOfSchools" />
      </v-col>

      <v-col cols="12" sm="6" md="4" lg="4">
        <v-text-field type="number" label="Número de tiendas de ropa" :rules="[rules.required, rules.min]" v-model="payload.numberOfFashionShops" />
      </v-col>

      <v-col cols="12" sm="6" md="4" lg="4">
        <v-text-field type="number" label="Número de estadios" :rules="[rules.required, rules.min]" v-model="payload.numberOfStadiums" />
      </v-col>

      <v-col cols="12" sm="6" md="4" lg="4">
        <v-text-field type="number" label="Número de bares/cafeterias/pubs" :rules="[rules.required, rules.min]" v-model="payload.numberOfHostelry" />
      </v-col>

      <v-col cols="12" sm="6" md="4" lg="4">
        <v-text-field type="number" label="Número de parques" :rules="[rules.required, rules.min]" v-model="payload.numberOfParks" />
      </v-col>

      <v-col cols="12" sm="6" md="4" lg="4">
        <v-text-field type="number" label="Número de hoteles" :rules="[rules.required, rules.min]" v-model="payload.numberOfHotels" />
      </v-col>

      <v-col cols="12" sm="6" md="4" lg="4">
        <v-text-field type="number" label="Número de cines/teatros" :rules="[rules.required, rules.min]" v-model="payload.numberOfSpectacles" />
      </v-col>

    </v-row>
    <v-row>
      <v-col cols="12" sm="6" md="6" lg="6">
        <v-btn color="green" dark @click="makePrediction">
          <v-icon>mdi-information</v-icon>
          Predecir
        </v-btn>
        <p v-if="prediction.score === 0">Con los datos introducidos el Starbucks estaría por debajo de la mediana</p>
        <p v-if="prediction.score === 1">El Starbucks esta por encima de la mediana <v-icon>mdi-arm-flex</v-icon>!
        </p>
      </v-col>
      <v-col cols="12" sm="6" md="6" lg="6">
        <v-btn color="green" dark @click="payload = examples[0]">
          <v-icon>mdi-script-text-outline</v-icon>
          Ejemplo 1
        </v-btn>
        <v-btn color="green" dark @click="payload = examples[1]">
          <v-icon>mdi-script-text-outline</v-icon>
          Ejemplo 2
        </v-btn>
        <v-btn color="green" dark @click="payload = examples[2]">
          <v-icon>mdi-script-text-outline</v-icon>
          Ejemplo 3
        </v-btn>
        <v-btn color="green" dark @click="payload = examples[3]">
          <v-icon>mdi-script-text-outline</v-icon>
          Ejemplo 4
        </v-btn>

      </v-col>

    </v-row>
  </v-form>
</v-container>
</template>

<script>
export default
{
  name: 'Predictor',
  data: () => (
  {
    payload:
    {
      maleLivingAlone: 0,
      femaleLivingAlone: 0,
      numberOfFamilies: 0,
      hispanicLatinoPopulation: 0,
      asianPopulation: 0,
      twoOrMoreRacesPopulation: 0,
      oneRacePopulation: 0,
      totalHouseHolders: 0,
      twoPersonFamilies: 0,
      oneEarnerFamilies: 0,
      population24_34: 0,
      population35_44: 0,
      houseHolders25_44: 0,
      houseHolders15_24: 0,
      totalHousingUnits: 0,
      numberOfStations: 0,
      numberOfSchools: 0,
      numberOfFashionShops: 0,
      numberOfStadiums: 0,
      numberOfHostelry: 0,
      numberOfParks: 0,
      numberOfHotels: 0,
      numberOfSpectacles: 0
    },
    rules:
    {
      required: value => !isNaN(parseInt(value)) || 'Required.',
      min: v => parseInt(v) >= 0 || 'Must be bigger than zero'
    },
    prediction:
    {}
  }),
  computed:
  {
    examples: function()
    {
      return [
      {
        maleLivingAlone: 1993,
        femaleLivingAlone: 3284,
        numberOfFamilies: 15677,
        hispanicLatinoPopulation: 64665,
        asianPopulation: 2625,
        twoOrMoreRacesPopulation: 1137,
        oneRacePopulation: 63528,
        totalHouseHolders: 21893,
        twoPersonFamilies: 5719,
        oneEarnerFamilies: 5678,
        population24_34: 8666,
        population35_44: 8252,
        houseHolders25_44: 6853,
        houseHolders15_24: 542,
        totalHousingUnits: 23801,
        numberOfStations: 2,
        numberOfSchools: 12,
        numberOfFashionShops: 0,
        numberOfStadiums: 0,
        numberOfHostelry: 1,
        numberOfParks: 8,
        numberOfHotels: 0,
        numberOfSpectacles: 1
      },
      {
        maleLivingAlone: 2635,
        femaleLivingAlone: 3507,
        numberOfFamilies: 8664,
        hispanicLatinoPopulation: 41813,
        asianPopulation: 3510,
        twoOrMoreRacesPopulation: 2049,
        oneRacePopulation: 39764,
        totalHouseHolders: 18074,
        twoPersonFamilies: 3997,
        oneEarnerFamilies: 2597,
        population24_34: 11706,
        population35_44: 7698,
        houseHolders25_44: 9845,
        houseHolders15_24: 478,
        totalHousingUnits: 20087,
        numberOfStations: 9,
        numberOfSchools: 17,
        numberOfFashionShops: 45,
        numberOfStadiums: 1,
        numberOfHostelry: 219,
        numberOfParks: 8,
        numberOfHotels: 5,
        numberOfSpectacles: 10
      },
      {
        maleLivingAlone: 781,
        femaleLivingAlone: 1460,
        numberOfFamilies: 5604,
        hispanicLatinoPopulation: 21919,
        asianPopulation: 677,
        twoOrMoreRacesPopulation: 630,
        oneRacePopulation: 21289,
        totalHouseHolders: 8050,
        twoPersonFamilies: 2145,
        oneEarnerFamilies: 1312,
        population24_34: 2853,
        population35_44: 2637,
        houseHolders25_44: 2046,
        houseHolders15_24: 7,
        totalHousingUnits: 8378,
        numberOfStations: 1,
        numberOfSchools: 8,
        numberOfFashionShops: 8,
        numberOfStadiums: 0,
        numberOfHostelry: 48,
        numberOfParks: 4,
        numberOfHotels: 2,
        numberOfSpectacles: 1
      },
      {
        maleLivingAlone: 19220,
        femaleLivingAlone: 10826,
        numberOfFamilies: 72134,
        hispanicLatinoPopulation: 67863,
        asianPopulation: 26415,
        twoOrMoreRacesPopulation: 30242,
        oneRacePopulation: 66621,
        totalHouseHolders: 41005,
        twoPersonFamilies: 26870,
        oneEarnerFamilies: 35371,
        population24_34: 37690,
        population35_44: 88537,
        houseHolders25_44: 55431,
        houseHolders15_24: 1035,
        totalHousingUnits: 93052,
        numberOfStations: 30,
        numberOfSchools: 48,
        numberOfFashionShops: 112,
        numberOfStadiums: 2,
        numberOfHostelry: 110,
        numberOfParks: 37,
        numberOfHotels: 50,
        numberOfSpectacles: 2
      }]
    }
  },
  created()
  {
    this.$store.dispatch('areas/getAllAreas')
  },
  methods:
  {
    makePrediction: function()
    {
      this.$axios.post('http://localhost:8000/api/model/predict', this.payload)
        // 'Si es 1 supera el starbucks generará mas revenue que la mediana'
        .then(response => (this.prediction = response.data))
    }
  }
}
</script>
